[Unit]
Description=GPS Tracking Service through Python
After=multi-user.target

[Service]
Type=simple
User=root
Restart=always
WorkingDirectory=/home/pi/gpstracker
ExecStart=/usr/bin/python /home/pi/gpstracker/gps_service.py

[Install]
WantedBy=multi-user.target
